#top {
  display: flex;
  align-items: center;
  gap: 20px;
}
#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 32px;
  margin-top: 20px;
}

.logo {
  background-image: url(/logo.jpg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inputValue {
  border: none;
  background-color: gainsboro;
  padding: 10px;
  text-align: right;
  border: 1px solid wheat;
}
.inputValue:focus {
  border: none;
  background-color: whitesmoke;
  padding: 10px;
  text-align: right;
  border: 1px solid wheat;
  font-weight: bold;
}

.currencies {
  padding: 10px;
  border-radius: 4px;
  background-color: gainsboro;
}

.currencies:focus {
  background-color: whitesmoke;
}

.title {
  font-size: 48px;
}

.btn {
  border-radius: 3px;
  border: 0.1px solid black;
  background-color: rgb(26, 104, 26);
  color: white;
  padding: 10px;
}

.btn:hover {
  border-radius: 3px;
  border: 0.1px solid black;
  background-color: rgb(34, 214, 34);
  color: black;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
