#top {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url(/logo.jpg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
